{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% load placeholder_tags %}


{% block extra_css %}
<style type="text/css">
.inductee-detail {
    display: inline-block;
}

.inductee-item {
    cursor: pointer;
}

.inductee-item:hover div a img {
    border-color: #c5ebff;
}

.page-title-container {
    margin-bottom: 0;
    padding-bottom: 0;
}

.inductee-year-header {
    border-top: 2px solid #cecece;
    padding-top: 15px;
    margin-top: 25px;
    font-size: 3rem;
    font-weight: bold;
}

.header-links-sorting a {
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
}
</style>
{% endblock %}


{% block content %}

<div class="p-2 mb-3 header-links-sorting">
    <p>
        <a href="?">By Name</a> |
        <a href="?year">By Year Inducted</a> |
        <a href="{% url "inductees_map" %}">View Inductee Map</a>
    </p>
</div>

<div class="container">

{% for inductee in inductee_list %}
    {% if view_type == "year" %}
        {% ifchanged inductee.inducted_date|date:"Y" %}
            <div class="inductee-year-header">
                {% if inductee.inducted_date %}
                    {{ inductee.inducted_date|date:"Y" }}
                {% else %}
                    <i>Inductee Year Not Available</i>
                {% endif %}
            </div>
        {% endifchanged %}
    {% endif %}

    <div class="row my-3 inductee-item" onclick="window.location='{% pageurl inductee %}';">

        <div class="col-md-auto col-3 col-auto">
            {% if inductee.photo %}
                <a href="{% pageurl inductee %}">{% image inductee.photo fill-100x100 class="img-thumbnail img-fluid" loading="lazy" %}</a>
            {% else %}
                <a href="{% pageurl inductee %}">{% inductee_placeholder_image %}</a>
            {% endif %}
        </div>

        <div class="col">
            <h2>{{ inductee.name }}</h2>

            {% if inductee.tagline %}
                <p class="lead d-none d-md-block">{{ inductee.tagline }}</p>
            {% endif %}
        </div>

    </div>

{% endfor %}
</div>

{% endblock %}